.header,
.middle,
.letter,
.gallary,
.footer {
    padding-left: 50px;
    padding-right: 50px;
}


.header {
    background-color: #242423;
    color: #242423;
}

#amai_logo_img{
    width: 124px;
    height: 28px;
}

.header a {
    color: white;
}

.top_menu {
    text-align: right;
}

.main_menu {
    text-align: right;
}

.letter {
    background-color: black;
    color: wheat;
}

.middle {
    background-color:yellowgreen;
    color: white;
}

footer {
    background-color: yellowgreen;
}